body {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 3em;
	font-family: 'Pacifico', cursive;
	color: #990444;
}

h1 a {
	color: #990444;
}

h2 {
	font-size: 2.5em;
	padding: 30px 0;
	text-align: center;
	color: #fff;
}

h3 {
	font-size: 2em;
	padding: 10px 0;
}

h4 {
	font-size: 1.75em;
	padding: 10px 0;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
}

.container {
	width: 85%;
	margin: 0 auto;
	padding: 0 30px;
}

.flex {
	display: flex;
}

header {
	background-image: url('../images/beach-background.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	min-height: 400px;
	padding-top: 30px;
}

.logo {
	padding-top: 30px;
	width: 40%;
	float: left;
}

nav {
	float: right;
	width: 60%;
	padding-top: 30px;
}

nav ul {
	float: right;
}

nav li {
	display: inline-block;
	padding-right: 20px;
	font-size: 1.750em;
	text-shadow: 3px 2px 4px #ccc;
	color: #570470;
}

nav li a {
	color: #570470;
}

nav li a:hover {
	color: #2E0115;
}

section {
	padding: 150px 0;
}

#about {
	background: #C8025A;
	color: #fff;
}

#about .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bio, .profile {
	flex: 1;
}

.profile {
	text-align: center;
}

#education {
	background: #990444;	
}

#education .container {
	justify-content: space-around;
}

.education-item {
	color: #fff;
	padding-right: 50px;
}

.education-item:last-child {
	padding-right: 0;
}

#experience {
	background: #570470;
	color: #fff;	
}

.company-details {
	flex: 1;
}

.job-details {
	flex: 3;
}

.experience-item {

}

#portfolio {
	background: orange;	
}

#contact {
	background: yellow;	
}


